<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tickets</title>
</head>
<body>
<h1>Білети</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Ім'я користувача</th>
        <th>Сеанс ID</th>
        <th>Місце</th>
    </tr>
    <tr th:each="ticket : ${tickets}">
        <td th:text="${ticket.id}">1</td>
        <td th:text="${ticket.customerName}">John</td>
        <td th:text="${ticket.screeningId}">101</td>
        <td th:text="${ticket.seatNumber}">A1</td>
    </tr>
</table>
</body>
</html>